---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import ReusableSvgIcon from '@/components/ReusableSvgIcon.astro';

interface Props {
    work: CollectionEntry<'work'>['data'];
}

const { work } = Astro.props;

const formatter = new Intl.DateTimeFormat('fr-FR', { year: 'numeric' });
---

<a class="work-tile" target="_blank" href={work.link}>
    <div class="work-tile-picture">
        <Image
            class="work-tile-logo"
            height={100}
            src={work.logo}
            alt={work.job}
        />
    </div>
    <div class="work-tile-information">
        <p class="work-tile-dates">
            {formatter.format(work.startDate)}
            {work.endDate && <> - {formatter.format(work.endDate)}</>}
        </p>
        <p class="work-tile-title">
            {work.title}
        </p>
        <p class="work-tile-meta">
            @{work.job}
            <ReusableSvgIcon name="arrow-right-up-line" />
        </p>
    </div>
</a>

<style>
    .work-tile {
        width: 100%;
        display: flex;
        flex-direction: column;

        &:hover {
            .work-tile-picture .work-tile-logo {
                filter: brightness(1) grayscale(0);
                scale: 105%;
            }
        }

        .work-tile-picture {
            background-color: var(--color-bg-subtle);
            height: 260px;
            display: flex;
            align-items: center;
            justify-content: center;

            .work-tile-logo {
                filter: brightness(0) grayscale(1);
                scale: 100%;
                transition: all 500ms ease-in-out;
            }
        }

        .work-tile-information {
            display: flex;
            padding: var(--spacing-50);
            align-items: center;
            font-size: 0.875rem;
            font-weight: 600;
            letter-spacing: 0;

            .work-tile-dates {
                flex: 1;
            }

            .work-tile-title {
                flex: 2;
            }

            .work-tile-meta {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                text-transform: uppercase;

                svg {
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }
</style>
